html {
    background-color: #031b21;
}

p, h1, h2, h3, h4, h5, h6, li {
    color: #e8dfd7 !important;
    border-bottom-color: #424242;
}

p code {
    background-color: #725c9e !important;
    color: #e8dfd7 !important;
}

body a {
    color: #9dd8d7 !important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

body a:hover,
body a:focus {
    text-decoration: none;
    color: #e8dfd7 !important;
    background-color: #725c9e;
    border-radius: 5px;
}